# Unreal Engine 4
DerivedDataCache/
Intermediate/
Saved/
Binaries/
Logs/
Saved/Config/Linux/
Saved/Config/Windows/
Saved/Config/Mac/
*.sln
*.opensdf
*.sdf
*.vcxproj
*.vcxproj.filters
*.pdb
*.ilk
*.exe
*.lib
*.dll
*.dll.manifest
*.manifest
*.ipch/
*.aps
*.ncb
*.suo
*.user
*.user.props
*.log
*.bak
*.orig
*.rej
*.vspscc
*.vssscc
*.psess
*.db
*.db-shm
*.db-wal
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db